  
{{!-- Bmi calculator --}}
        <div class="col-md-6 offset-md-3 mt-5">
            <form class="bmiCalc" id="userCalcForm">
                <div class="card ">
                    <div class="card-header">
                        <h4>BMI Calculator</h4>
                    </div>
                    <div class="form-group w-50 px-3">
                        <br>
                        <label>Height</label>
                        <input type="number" class="form-control feet" id="feet" placeholder="feet" min="1" max="8">
                        <br>
                        <input type="number" class="form-control inches" id="inches" placeholder="inches" min="0" max="11">
                    </div>
                    <div class="form-group  w-50 px-3">
                        <label for="exampleInputPassword1">Weight</label>
                        <input type="number" class="form-control weight" id="weight" placeholder="lbs" min="0" max="2000">
                        <br>
                        <div>
                            <p class="bmiResult h6" id="userCalcResult"></p>
                        </div>
                        <button type="submit" class="btn btn-success calculate">Calculate</button>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </form>
        </div>



<script>
    $("#userDropdown").css("display", "inline");
    $(".login").hide();
    $(".signUp").hide();
</script>