<form class="addBMI">
    Create BMI:
    <br>
    <input type="text" class=e xercise name="exercise" placeholder="exercise">
    <br> Height:
    <br>
    <input type="text" class=w eight name="weight" placeholder="weight">
    <br> Weight:
    <br>
    <button id="createBMI">Create</button>
</form>
