

<p>Create Body Mass Index:</p>
<div class="form-group">
    <label for="height">Height</label>
    <textarea class="form-control" id="height" rows="1"></textarea>
    <label for="weight">Weight</label>
    <textarea class="form-control" id="weight" rows="1"></textarea>
</div>
