<div class="container-fluid mt-2" style="margin-bottom:2%">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <form class="workoutCreater">

                <div class="card ">
                    <div class="card-header">
                        <h4>Workout Creater</h4>
                    </div>
                    <div class="form-group w-75 px-3">
                        <h4>Creator: <span class="creator" id={{name}}>{{name}}</span></h4>
                        <br>
                        <label>Workout Name</label>
                        <input type="text" class="form-control" id="workoutName" placeholder="name" style="width: 80%">
                        <label for="exampleInputPassword1">Workout Type</label>
                        <input type="text" class="form-control" id="workoutType" placeholder="type" style="width: 80%">
                        <label for="exampleInputPassword1">Workout Description</label>
                        <input type="textarea" class="form-control" id="workoutDes" placeholder="description" style="width: 80%">
                        <br>
                    </div>
                    <div class="form-group w-40 px-3" id="addExercise">
                        <form class="addExercise">
                            <label for="exercise">Exercise:</label>
                            <br>
                            <input type="text" class="form-control" id="exercise" name="exercise" placeholder="exercise">
                            <label for="weight">Weight:</label>
                            <br>
                            <input type="number" class="form-control" id="weight" name="weight" placeholder="weight">
                            <label for="sets">Sets:</label>
                            <br>
                            <input type="number" class="form-control" id="sets" name="sets" placeholder="sets">
                            <label for="reps">reps:</label>
                            <br>
                            <input type="number" class="form-control" id="reps" name="reps" placeholder="reps">
                            <br>
                            <br>
                            <button type="submit" class="btn btn-light btn-md" id="subEx">Add Exercise</button>
                        </form>
                    </div>
                    <button type="submit" class="btn btn-light btn-lg submitWorkout">Submit Workout</button>

                    <div class="card-footer">
                    </div>
                </div>



            </form>
        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    <h4>Added Exercise List</h4>
                </div>
                <ul id="exerciseList">

                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#userDropdown").css("display", "inline");
    $(".login").hide();
    $(".signUp").hide();
        console.log("document ready");
        var workoutString = ""
        //text box questions for exercise, weight, reps and sets
        $("#subEx").click(function (event) {
            event.preventDefault();
            var addedEx = $("<li>")
            var exercise = $("#exercise").val().trim();
            var sets = $("#sets").val();
            var reps = $("#reps").val();
            var weight = $("#weight").val()
            workoutString += exercise + " (" + reps + "x" + sets + " " + weight + "lb).\n";
            var exerciseString = exercise + " " + reps + "x" + sets + " " + weight + "lb"
            addedEx.text(exerciseString)
            $("#exerciseList").append(addedEx)
            $("#exercise").val("")
            $("#sets").val("")
            $("#reps").val("")
            $("#weight").val("")
            var exercise = "";
            var weight = "";
            var sets = "";
            var reps = "";
            console.log(workoutString);
        });
        //caber creates wotkout when done adding exrecises
        $(".submitWorkout").click("submit", function (event) {
            event.preventDefault();
            var newWorkout = {
                creator: $(".creator").attr("id"),
                workoutName: $("#workoutName").val().trim(),
                workoutType: $("#workoutType").val().trim(),
                workoutDes: $("#workoutDes").val().trim(),
                workoutString: workoutString
            }
            console.log(newWorkout)
            $.post("../../api/workouts", newWorkout)
            setTimeout(function(){location.replace("/profile")})
        });
        $(".login").hide()
    $(".signUp").hide()
    $("#userDropdown").css("display", "inline");
    });
    
</script>