<div class="container-fluid mt-2">
    <div class="row ">
        {{!-- Login card begins here --}}
        <div class="col-md-2">
            <form class="loginSignUp">
                <br>
                <div class="collapseLogin collapse">
                    <div class="card">
                        <br>
                        <div class="form-group w-95 px-2">
                            <input type="email" class="form-control " id="loginEmail" placeholder="Enter email" name="email">
                        </div>
                        <div class="form-group w-95 px-2">
                            <input type="password" class="form-control password" id="loginPassword" placeholder="Password" name="password">
                            <br>
                            <button type="submit" class="btn btn-success btn-sm loginBtn" id="loginBtn">Login</button>
                        </div>
                    </div>
                </div>
                <div class="collapseSignUp collapse">
                    <div class="card">
                        <br>
                        <div class="signUpForm">
                            <div class="form-group  w-95 px-2">
                                <input type="text" class="form-control name" id="name" placeholder="Name">
                            </div>
                            <div class="form-group  w-95 px-2">
                                <input type="text" class="form-control lastName" id="username" placeholder="Username">
                            </div>
                            <div class="form-group  w-95 px-2">
                                <input type="email" class="form-control email" id="signUpEmail" placeholder="Email" name="signUpEmail">
                            </div>
                            <div class="form-group  w-95 px-2">
                                <input type="password" class="form-control signUpPassword" id="signUpPassword" placeholder="Password" name="signUpPassword">
                            </div>
                            <div class="form-group w-95 px-2">
                                <input type="password" class="form-control password2" id="password2" placeholder="Confirm Password" name="password2">
                                <br>
                                <button type="submit" class="btn btn-info btn-sm join">Join</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        {{!-- Login end --}} {{!-- Bmi calculator --}}
        <div class="col-md-2 offset-md-1 mt-5">
            <form class="bmiCalc">
                <div class="card ">
                    <div class="card-header">
                        <h4>BMI Calculator</h4>
                    </div>
                    <div class="form-group w-75 px-3">
                        <br>
                        <label>Height</label>
                        <input type="number" class="form-control heightFt" id="heightFt" placeholder="feet" min="1" max="8">
                        <br>
                        <input type="number" class="form-control heightIn" id="heightIn" placeholder="inches" min="0" max="11">
                    </div>
                    <div class="form-group  w-75 px-3">
                        <label for="exampleInputPassword1">Weight</label>
                        <input type="number" class="form-control weight" id="weight" placeholder="lbs" min="0" max="2000">
                        <br>
                        <div>
                            <p class="bmiResult h6"></p>
                        </div>
                        <button type="submit" class="btn btn-success calculate">Calculate</button>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </form>
        </div>
        {{!-- Bmi end --}} {{!-- Workouts data dump --}}
        <div class="col-md-4 mt-5">
            <div class="card text-center">
                <div class="card-header">
                    <h4 class="card-title">Workouts</h4>
                </div>
                <table class="table table-hover table-dark" style="width:90% text-align: center">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Type</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each workoutData}}
                        <tr class="workout" data-workoutId={{this.id}}>
                            <td>{{this.workoutName}}</td>
                            <td>{{this.workoutType}}</td>
                            <td>{{this.workoutDes}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
            </div>
        </div>
    </div>
</div>
<script>
    $("*").click(function (event) {
        event.preventDefault()
    })
    $(document).ready(function () {
        $(".calculate").click(function (event) {
            $(".bmiResult").empty()
            console.log("button clicked")
            event.preventDefault()
            var heightIn = $(".heightIn").val()
            var heightFt = $(".heightFt").val()
            var height = parseInt(heightFt) * 12 + parseInt(heightIn)
            var weight = $(".weight").val()
            var bmi = parseInt(weight) / Math.pow(height, 2) * 703
            console.log(bmi)

            $(".bmiResult").append("Your BMI: " + bmi.toFixed(2))
        })
    })
</script>