<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img src="/images/gym-banner-placehoder.jpg" class="img-fluid" alt="Responsive image">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-3">

            {{!-- Login card begins here --}}
            <form class="loginSignUp">
                <div class="card ">
                    <div class="card-header text-center">
                        <h4>Welcome
                        </h4>
                        <br>
                        <button type="submit" class="btn btn-success btn-sm login" data-toggle="collapse" data-target=".collapseLogin" role="button"
                            aria-expanded="false" aria-controls="multiCollapseExample1">
                            <i class="material-icons">person</i>
                            <br>Login</button>

                        <button class="btn btn-info btn-sm signUp" data-toggle="collapse" data-target=".collapseSignUp" role="button" aria-expanded="false"
                            aria-controls="multiCollapseExample1">
                            <i class="material-icons">person_add</i>
                            <br> Sign up</button>
                    </div>
                    <div class="collapseLogin collapse">
                        <div class="form-group  w-95 px-2">
                            <label>Email</label>
                            <input type="email" class="form-control " id="loginEmail" placeholder="Enter email">
                        </div>
                        <div class="form-group  w-95 px-2">
                            <label>Password</label>
                            <input type="password" class="form-control password" id="loginPassword" placeholder="Password">
                            <br>
                            <button type="submit" class="btn btn-success btn-sm loginBtn" id="loginBtn">Login</button>
                        </div>
                    </div>
                    <div class="collapseSignUp collapse">
                        <div class="signUpForm">
                            <br>
                            <div class="form-group  w-95 px-2">
                                <input type="text" class="form-control firstName" id="firstName" placeholder="First Name">
                            </div>
                            <div class="form-group  w-95 px-2">
                                <input type="text" class="form-control lastName" id="lastName" placeholder="Last Name">
                            </div>
                            <div class="form-group  w-95 px-2">
                                <input type="email" class="form-control email" placeholder="Email">
                            </div>
                            <div class="form-group  w-95 px-2">
                                <input type="password" class="form-control pasword" id="signUpPassword" placeholder="Password">
                                <br>
                                <button type="submit" class="btn btn-info btn-sm join">Join</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </form>

        </div>
        {{!-- Login end --}} {{!-- Bmi calculator --}}
        <div class="col-md-3 ">
            <form class="bmiCalc">
                <div class="card ">
                    <div class="card-header">
                        <h4>BMI Calculator</h4>
                    </div>
                    <div class="form-group w-75 px-3">
                        <label>Height</label>
                        <input type="number" class="form-control heightFt" id="heightft" placeholder="feet" min="1" max="8">
                        <br>
                        <input type="number" class="form-control heightIn" id="heightIn" placeholder="inches" min="0" max="11">
                    </div>
                    <div class="form-group  w-75 px-3">
                        <label for="exampleInputPassword1">Weight</label>
                        <input type="number" class="form-control weight" id="weight" placeholder="lbs" min="0" max="2000">
                        <br>
                        <div>
                            <h6 class="bmiResult">placeholder</h6>
                        </div>
                        <button type="submit" class="btn btn-success">Calculate</button>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>

            </form>
        </div>
        {{!-- Bmi end --}} {{!-- Workouts data dump --}}
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 style="text-align: center">Workouts</h4>
                </div>

                <table class="table table-hover table-dark" style="width:90% text-align: center">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Type</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each workoutData}}
                        <tr class="workout" data-workoutId={{this.id}}>
                            <td>{{this.workoutName}}</td>
                            <td>{{this.workoutType}}</td>
                            <td>{{this.workoutDes}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
            </div>
        </div>
        
    </div>

</div>
<script>
    $(document).ready(function () {
        $(".bmiCalc").on("submit", function (event) {
            $(".bmiResult").empty()
            console.log("button clicked")
            event.preventDefault()
            var heightIn = $(".heightIn").val().trim() + "in"
            var heightFt = $(".heightFt").val().trim() + "ft"
            var height = parseInt(heightFt) * 12 + parseInt(heightIn)
            var weight = $(".weight").val().trim() + "lb"
            var bmi = parseInt(weight) / Math.pow(height, 2) * 703
            console.log(bmi)
            $(".bmiResult").append(bmi.toFixed(2))
        })
    })
</script>