<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>
                        <p>
                            <button type="button" class="btn btn-sm btn-light editProfile" id="editProfile" data-toggle="modal" data-target="#myModal">Edit</button>
                        </p>
                    </h4>
                </div>
                <div class="userStats">
                    <p>Your BMI: {{bmi}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-5">
            <div class="card">
                <div class="card-header">
                    <h4>
                        Workouts
                    </h4>
                </div>
                <br>
                <button type="button" class="btn btn-lg btn-light" id="create">Create</button>
                <br>
                <button type="button" class="btn btn-lg btn-light" id="viewAll">View All Workouts</button>
                <br>
                <button type="button" class="btn btn-lg btn-light" id="viewMy" value={{userName}}>{{userName}}'s Workouts</button>
                <br>
            </div>
        </div>
    </div>
</div>

<!-- edit user info modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Edit Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="">
                    <input type="text">
                    <input type="text">
                    <input type="text">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light btn-sm update" id="update" data-dismiss="modal">Udpdate</button>
            </div>
        </div>
    </div>
</div>


<script>
    $("*").click(function (event) {
        event.preventDefault()
    });
    $(".login").hide();
    $(".signUp").hide();
    $(".profile").click(function () {
        $(".collapseLogin").toggleClass("show", false);
    });
    $(".dropdown").css("display", "inline");

    $("#create").click(function(event){
        event.preventDefault()
        location.replace("profile/workouts/create")
    })
    $("#viewAll").click(function(event){
        event.preventDefault()
        location.replace("profile/workouts/all")
    })
    $("#viewMy").click(function(event){
        event.preventDefault()
        var name = $("#viewMy").val()
        location.replace("/workouts/creator/"+name)
    })
</script>