.list-group-item {
  line-height: 2.5;
}

body {
  background-color: rgb(199, 199, 199);
  /* background-image: url("/images/gym-banner-placehoder.jpg"); */
  background-size: 100% 50%;
  background-repeat: no-repeat;
}
nav{
  box-shadow: 0px 1px 5px grey;
  background-color: gray;
  border-top: 5px solid rgb(255, 72, 0)
}
.container{
  margin-bottom: 10%
}

.alert-msg {
  color: red;
  font-size: 12px;
}

#alert {
  text-align: center;
}

#loginBtn {
  margin-top: 13px;
}

#profileTab {
  font-size: 25px;
  float: left;
}

.card-header{
  background-color: gray;
  color: #404040;
  border-top: 5px solid rgb(255, 72, 0)

}
.card{
  background-color:  rgb(189, 187, 187);
  color: #404040
}

.btn-light{
  background-color: rgb(255, 72, 0);
  outline: 0;
  border: none;
  color:white
  
}
.btn-light:hover, 
.btn-light.dropdown-toggle:focus{
  background-color: rgb(214, 62, 2);
  outline: 0;
  border: none;
  text-decoration: none;
  border: none;
  color: white

}
.btn-light:focus{
  background-color: rgb(255, 72, 0);
  outline: 0;
  border: none;
  text-decoration: none;
  border: none

}

.btn-light:active{
  background-color: rgb(214, 62, 2);
  text-decoration: none;
  outline: 0;
  border: none
}
.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle {
  color: #fff;
  background-color: rgb(255, 72, 0);
  border-color: rgb(255, 72, 0);
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10%;
  background-color: gray;
  border-top: 5px solid rgb(255, 72, 0);
  color: white;
  text-align: left;
  position: fixed
}
a:link {
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  color: rgb(255, 190, 164);
}
a:active {
  color: white;
}
.welcome{
  border-bottom: 2px solid rgba(255, 72, 0, 0.096)
}
.welcome:hover{
  background-color: rgba(255, 72, 0, 0.096)
}